#root {
  margin: 0;
  padding: 0;
}

.permanent-marker-regular {
  font-family: 'Permanent Marker', serif;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: 'Kalam', serif;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: 'Kalam', serif;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: 'Kalam', serif;
  font-weight: 700;
  font-style: normal;
}
