@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #121212;
  color: #e0e0e0;
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

#root {
  margin: 0;
  padding: 0;
}

.permanent-marker-regular {
  font-family: 'Permanent Marker', serif;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: 'Kalam', serif;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: 'Kalam', serif;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: 'Kalam', serif;
  font-weight: 700;
  font-style: normal;
}

input,
textarea {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
  padding: 10px;
  border-radius: var(--radius);
}
input:focus,
textarea:focus {
  outline: none;
  border-color: #66d9ef;
}
